<app-topbar></app-topbar>
<app-navbar></app-navbar>

<app-carousel></app-carousel>

<app-booking></app-booking>

<app-about></app-about>

<app-services></app-services>

<app-features></app-features>

<app-pricing></app-pricing>

<app-team></app-team>

<app-testimonial></app-testimonial>

<app-blog></app-blog>

<app-footer></app-footer>

<!-- Back to Top (fija en app.component si quieres) -->
<a href="#" class="btn btn-lg btn-primary back-to-top" style="position: fixed; right: 20px; bottom: 20px;"><i class="fa fa-angle-double-up"></i></a>
